[submodule "DiligentCore"]
	path = DiligentCore
	url = https://github.com/loopunit/DiligentCore.git
[submodule "DiligentTools"]
	path = DiligentTools
	url = https://github.com/loopunit/DiligentTools.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = https://github.com/loopunit/DiligentSamples.git
[submodule "DiligentFX"]
	path = DiligentFX
	url = https://github.com/loopunit/DiligentFX.git
