*.sdf
*.opensdf
*.tlog
*.lastbuildstate
*.idb
*.manifest
*.user
*.suo
*.ipch
*.o
*.a
*.aps
*.ilk
*.pdb
*.dll
*.exp
*.lib
*.iobj
*.ipdb
libs
obj
VisualGDBCache
bin
ARM
gen
tmp
*.log
*.mk.old
*.d
local.properties
project.properties
proguard-project.txt
html
doc/latex
*.obj
Debug
Release