*.sdf
*.opensdf
*.tlog
*.lastbuildstate
*.idb
*.manifest
*.user
*.suo
*.ipch
*.o
*.a
*.aps
*.ilk
*.pdb
*.dll
*.exp
*.lib
*.iobj
*.ipdb
*.db
libs
obj
VisualGDBCache
bin
ARM
gen
tmp
*.log
*.mk.old
*.opendb
local.properties
project.properties
proguard-project.txt
html
doc/latex
*.obj
Debug
Release
/cmk_build
/build
*.db-shm
*.db-wal
*.vspx
*.VC.db
*.VC.VC.opendb
.vs
