[submodule "diligentcore"]
	path = diligentcore
	url = https://EgorYusov@bitbucket.org/EgorYusov/diligentcore.git
[submodule "diligenttools"]
	path = diligenttools
	url = https://EgorYusov@bitbucket.org/EgorYusov/diligenttools.git
[submodule "diligentsamples"]
	path = diligentsamples
	url = https://EgorYusov@bitbucket.org/EgorYusov/diligentsamples.git
[submodule "diligentterrain"]
	path = diligentterrain
	url = https://EgorYusov@bitbucket.org/EgorYusov/diligentterrain.git
